CREATE DATABASE wpdb;
CREATE USER  'wp'@'172.31.0.0/255.255.255.0' IDENTIFIED BY '123';
GRANT ALL ON wpdb.* to 'wp'@'172.31.0.0/255.255.255.0' IDENTIFIED BY '123' WITH GRANT OPTION;

FLUSH PRIVILEGES;