{% for wp_host in web_instances_addresses %}
CREATE USER '{{ wp_db_user }}'@'{{ address }}' IDENTIFIED BY '{{ wp_db_passwd }}';
GRANT ALL ON {{ wp_db_name }}.* to '{{ wp_db_user }}'@'{{ wp_host }}' IDENTIFIED BY '{{ wp_db_passwd }}' WITH GRANT OPTION;
{% endfor %}

FLUSH PRIVILEGES;